.footer-logo-white {
    color: #fff;
}

.footer {
    background-color: var(--section-color);
}

.location {
    color: #ffff;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list {
    width: 231px;
    margin-right: 70px;
}

.footer-link {
    /* font-family: "Roboto"; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-phone-number {
    /* font-family: "Roboto"; */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.footer-list-item {
    margin-top: 9px;
}

.footer-list-item:first-child {
    margin-top: 0px;
}

.join-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    margin-top: -39px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    margin-right: 93px;
}

.social-links-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item:hover {
    background-color: #2196f3;
    fill: #fff;
    border-radius: 50%;
}

.address {
    margin-top: 20px;
    display: flex;
    font-style: normal;
}

.footer-subscribe-button {
    display: flex;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    background-color: var(--button-color);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 370px;
    bottom: 0px;
    cursor: pointer;
}

.footer-svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-left: 10px;
}

.sending-text {
    /* margin-bottom: 20px;
    margin-top: -39px; */
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 70px;
    left: 0px;
}

.footer-input {
    width: 358px;
    height: 50px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    margin-right: 12px;
    left: 0px;
    bottom: 0px;
}

.sending {
    width: 571px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}