.header {
    background: getColor('header');
    padding-top: 24px;
    padding-bottom: 25px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.head {
    display: flex;
    align-items: center;
}

.header__logo--black {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}

.header__logo {
    color: getColor('button');
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    /* display: inline-block; */
    margin-right: 93px;
}

.header__logo--black {
    color: #000;
}

.nav {
    margin-right: 318px;
    display: flex;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item {
    margin-right: 50px;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: getColor('text');
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover {
    color: getColor('button');
}

.header__link--active {
    font-weight: 500;
    color: getColor('button');
    position: relative;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link--active::after {
    width: 100%;
    height: 4px;
    content: "";
    position: absolute;
    bottom: -33px;
    border-radius: 2px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    color: getColor('button');
    display: block;
}

.list {
    display: flex;
    gap: 30px;
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list__item:last-child {
    margin-right: 0px;
}

.list__item:hover .contacts-links {
    color: getColor('button');
    fill: getColor('button');
}

.header__svg {
    fill: inherit;
    margin-right: 10px;
}

.header__contacts {
    width: 161px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $workers-color;
    display: flex;
    align-items: center;
    fill: #AFB1B8;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}