.header {
    background: getColor('header');
    padding-top: 24px;
    padding-bottom: 25px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    .head {
        @include flex_aic;
    }

    &__logo--black {
        @include releway(700);
        font-size: 26px;
    }

    &__logo {
        @include releway(700);
        color: getColor('button');
        font-size: 26px;
        margin-right: 93px;
    }

    .header__logo--black {
        color: #000;
    }

    .nav {
        margin-right: 318px;
        display: flex;
    }

    .header-list {
        @include flex_aic;
    }

    .header-list__item {
        margin-right: 50px;
    }

    .header-list__item:last-child {
        margin-right: 0px;
    }

    .header-list__link {
        @include roboto(500, 0.02em);
        font-size: 14px;
        color: getColor('text');
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-list__link:hover {
        color: getColor('button');
    }

    .header-list__link--active {
        font-weight: 500;
        color: getColor('button');
        position: relative;
        transition-property: all;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-list__link--active::after {
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
        display: block;
        bottom: -33px;
        border-radius: 2px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-color: getColor('button');
    }

    .list {
        display: flex;
        gap: 30px;
    }

    .list__item {
        @include flex;
    }

    .list__item:last-child {
        margin-right: 0px;
    }

    .list__item:hover .contacts-links {
        color: getColor('button');
        fill: getColor('button');
    }

    .list__svg {
        fill: inherit;
        margin-right: 10px;
    }

    .list__contacts {
        @include roboto(500, 0.02em);
        @include flex_aic;
        width: 161px;
        font-size: 14px;
        color: getColor(workers);
        fill: #AFB1B8;
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

}