.images {
    padding-top: 94px;
    padding-bottom: 94px;
}

.image {
    display: flex;
    flex-direction: column;
}

.images__item {
    margin-right: 30px;
    position: relative;
}

.images__text {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    // font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: rgba(47, 48, 58, 0.8);
}

.images__item:last-of-type {
    margin-right: 0px;
}

.images__list {
    display: flex;
    justify-content: flex-start;
}

.images__ourjob {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}