.portfolios-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;

    .portfolios-list__item {
        margin-right: 8px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    .portfolios-list__button {
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: 0.03em;
        text-align: center;
        background: getColor('background');
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolios-list__button:hover {
        color: getColor('header');
        background-color: getColor('button');
        border: none;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25), 0 2px 2px 0 rgba(0, 0, 0, 0.25), 0 3px 1px 0 rgba(0, 0, 0, 0.25);
    }

    .portfolios-list__button--activ-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: 0.03em;
        text-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 22px;
        padding-right: 22px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        color: getColor('header');
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
        background: getColor('button');
    }
}

.all {
    margin-top: 94px;
    margin-bottom: 94px;
}

.works-list {

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        color: getColor('text');
        margin-top: 20px;
        margin-left: 24px;
    }

    &__text {
        /* font-family: "Roboto";  */
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: getColor('workers');
        margin-top: 4px;
        margin-left: 24px;
    }

    .works-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__item {
        background: getColor('header');
        flex-basis: calc((100% - 60px) / 3);
        padding-bottom: 20px;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:hover {
        box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    }

    .card-overlay-box {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .card__text {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.03em;
        color: getColor('header');
        background: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transition-property: transform, opacity;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__item:hover .card__text {
        transform: translateY(-100%);
        opacity: 1;
    }
}