.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    gap: 10px;
}

.social-media-list-item {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
    cursor: pointer;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-item:hover {
    fill: #fff;
    background-color: var(--button-color);
}

.social-media-list-link {
    fill: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}