.workers__list {
    display: flex;
    justify-content: space-between;
}

.workers__title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.workers {
    background: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}

.workers__item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    padding-bottom: 30px;
    width: 270px;
}

.workers__text {
    width: 270px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 30px;
}

.workers__title--under {
    width: 270px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: $workers-color;
}

.workers__list--social-media {
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.workers__item--social-media {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: #AFB1B8;
    cursor: pointer;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.workers__item--social-media:hover {
    fill: #fff;
    background-color: $button-color;
}

.workers__link {
    fill: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}