@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_aic() {
    display: flex;
    align-items: center;
}

@mixin flex_fdc() {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin foboto() {
    font-family: getFont(roboto);
    letter-spacing: 0.03em;
    font-weight: 100;
}

@mixin raleway() {
    font-family: getFont(raleway);
    letter-spacing: 0.03em;
    font-weight: 100;
}